.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo {
  color: #e0e0e0;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #525252;
}

.experiencia-texto strong {
  color: #141414;
}

.projeto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.projeto::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#bae1ff, #3fa0eb);
  position: absolute;
  top: 20px;
  left: -4px;
}

.projeto-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.projeto-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
  grid-row: 2;
}

.projeto-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
  grid-row: 3;
}

.projeto-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #ffffff;
  padding: 5px 10px;
}

.projeto-imagem {
  grid-row: 1 / 4;
}

.projeto-imagem img {
  max-width: 100%;
  display: block;
  border-radius: 4px;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtitulo {
    color: #141414;
  }
  .experiencia-texto {
    font-size: 1.25rem;
  }
  .projeto {
    grid-template-columns: 1fr;
  }
  .projeto-imagem {
    grid-row: 4;
  }
}

@media (max-width: 400px) {
  .projeto {
    grid-template-columns: 1fr;
  }
  .footer-contato li a{
    font-size: 1.25rem;
  }
}
